body {
    margin: 0px;
    padding: 0px;
    background-image: url(./background.jpg);
    background-repeat: repeat;
}

.contenedorPrincipal {
    background-color: rgb(202, 236, 247);
    position: relative;
    opacity: 0.9;
    left: 300px;
    width: 1000px;
    height: 730px;
    border-style: solid;
    border-width: 3px;
}

.headerTxt {
    position: relative;
    left: 350px;
    top: 90px;
    font-size: 15pt;
    font-weight: bold;
}

.descriptionTxt {
    position: relative;
    left: 380px;
    top: 99px;
    font-size: 15pt;
    font-weight: bold;
}

.buttonGetFood {
    position: relative;
    left: 400px;
    top: 130px;
    width: 200px;
    height: 40px;
}

.mealName {
    position: relative;
    left: 20px;
    top: 150px;
    font-size: 17pt;
    width: 200px;
    height: 40px;
}