body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(243, 237, 237);
    /* background-image: url("../img/background.jpg"); */
    background-repeat: repeat;
    opacity: 0.9;
}


/* encabezado de pagina estilo */

.encabezadoPag {
    width: 1514px;
    height: 200px;
    background-color: rgb(243, 237, 237);
}

.nutribot {
    position: absolute;
    left: 150px;
}


/* estilo de botones del encabezado */

button {
    margin: 20px;
}

.bttn {
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    left: 450px;
    top: 40px;
    display: inline-block;
    outline: none;
}

.menu {
    background: linear-gradient(0deg, rgba(24, 103, 75, 1) 0%, rgba(24, 207, 102, 1) 100%);
    border: none;
}

.menu:hover {
    background: linear-gradient(0deg, rgba(24, 103, 75, 1) 0%, rgba(24, 176, 75, 1) 100%);
    border: none;
}


/* Contenedor generador de recetas aleatorias */

.contenedorRecetas {
    background-color: rgb(243, 237, 237);
    position: relative;
    width: 1514px;
    height: 730px;
    /* border-style: solid; */
    border-width: 3px;
}


/* texto de bienvenida */

.headerTxt {
    position: relative;
    left: 340px;
    top: 10px;
    width: 900px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    /* border-style: solid; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* explicacion de la app */

.descriptionTxt {
    position: relative;
    left: 100px;
    top: 50px;
    width: 1400px;
    font-size: 15pt;
    font-weight: bold;
    /* border-style: solid; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* boton para obtener comida */

.buttonGetFood {
    position: relative;
    left: 600px;
    top: 90px;
    width: 300px;
    height: 40px;
    border-style: solid;
    border-width: 3px;
    font-size: 15pt;
}


/* Caracteristicas de plato */


/* nombre */

.nombreComida {
    position: relative;
    left: 20px;
    top: 150px;
    width: 500px;
    font-size: 17pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mealName {
    position: relative;
    left: 230px;
    top: -25px;
    font-size: 17pt;
    width: 240px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* region */

.regionComida {
    position: relative;
    left: 20px;
    top: 150px;
    width: 400px;
    font-size: 17pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mealArea {
    position: relative;
    left: 230px;
    top: -25px;
    font-size: 17pt;
    width: 240px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* categoria */

.categoriaComida {
    position: relative;
    left: 20px;
    top: 150px;
    width: 400px;
    font-size: 17pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mealCategory {
    position: relative;
    left: 250px;
    top: -25px;
    font-size: 17pt;
    width: 240px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* tags de la comida */

.tagsComida {
    position: relative;
    left: 20px;
    top: 150px;
    width: 400px;
    font-size: 17pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mealTags {
    position: relative;
    left: 220px;
    top: -25px;
    font-size: 17pt;
    width: 240px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* video de comida */

.videoComida {
    position: relative;
    left: 20px;
    top: 150px;
    width: 620px;
    font-size: 17pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mealVideo {
    position: relative;
    left: 180px;
    top: -25px;
    font-size: 17pt;
    width: 600px;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* imagen */

.mealImg {
    position: absolute;
    left: 960px;
    top: 250px;
    border-radius: 40%;
}


/* contenedor dinamico y responsivo que muestra informacion de recetas */

.contenedorInfo {
    background-color: rgb(243, 237, 237);
    position: relative;
    /* width: 1514px; */
    /* border-style: solid; */
    border-width: 3px;
    text-align: center;
}


/* Seccion que muestra la variedad de recetas */

.titleSection {
    font-size: 25pt;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #171717
}


/* informacion nutrimental */

@import url('https://fonts.googleapis.com/css?family=Livvic:100,300,400,500,700&display=swap');
.form {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}


/* recetas extras */

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    grid-gap: 30px;
    margin-top: 32px;
}

.recipe {
    background: #fff;
    border-radius: 30px;
    position: relative;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 40%;
}


/* pie de pagina */

.piePag {
    /* border-style: solid; */
    width: 1514px;
    height: 200px;
    background-color: rgb(102, 165, 112);
}

.creador {
    position: relative;
    top: 60px;
    left: 20px;
    width: 320px;
    font-size: 13pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffffd3;
}

.asignatura {
    position: relative;
    top: -10px;
    left: 650px;
    width: 300px;
    font-size: 13pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffffd3;
}

.university {
    position: relative;
    top: -70px;
    left: 1200px;
    width: 300px;
    text-align: center;
    font-size: 13pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffffd3;
}